.container {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(5, 150px);
  grid-gap: 10px;
}

.container img {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.container img:hover {
  background-color: gray; /* Change the background color on hover */
}

.hovered {
  position: relative;
}

.checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
}

.vertical {
  grid-column: span 2;
  grid-row: span 2;
}
